<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pmksoft.prayer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Prayer"
        tools:targetApi="31">
        <activity
            android:name=".Milagro15"
            android:exported="false" />
        <activity
            android:name=".Milagro14"
            android:exported="false" />
        <activity
            android:name=".Milagro13"
            android:exported="false" />
        <activity
            android:name=".Milagro12"
            android:exported="false" />
        <activity
            android:name=".Milagro11"
            android:exported="false" />
        <activity
            android:name=".Milagro10"
            android:exported="false" />
        <activity
            android:name=".Milagro9"
            android:exported="false" />
        <activity
            android:name=".Milagro8"
            android:exported="false" />
        <activity
            android:name=".Milagro7"
            android:exported="false" />
        <activity
            android:name=".Milagro6"
            android:exported="false" />
        <activity
            android:name=".Milagro5"
            android:exported="false" />
        <activity
            android:name=".Milagro4"
            android:exported="false" />
        <activity
            android:name=".Milagro3"
            android:exported="false" />
        <activity
            android:name=".Milagro2"
            android:exported="false" />
        <activity
            android:name=".Milagro1"
            android:exported="false" />
        <activity
            android:name=".Vida_Jesus_de_Nazaret"
            android:exported="false" />
        <activity
            android:name=".Milagros_de_Jesus33"
            android:exported="false" />
        <activity
            android:name=".Los33MilagrosDeJesus"
            android:exported="false" />
        <activity
            android:name=".Cuento15"
            android:exported="false" />
        <activity
            android:name=".Cuento14"
            android:exported="false" />
        <activity
            android:name=".Cuento13"
            android:exported="false" />
        <activity
            android:name=".Cuento12"
            android:exported="false" />
        <activity
            android:name=".Cuento11"
            android:exported="false" />
        <activity
            android:name=".Cuento10"
            android:exported="false" />
        <activity
            android:name=".Cuento9"
            android:exported="false" />
        <activity
            android:name=".Cuento8"
            android:exported="false" />
        <activity
            android:name=".Cuento7"
            android:exported="false" />
        <activity
            android:name=".Cuento6"
            android:exported="false" />
        <activity
            android:name=".Cuento5"
            android:exported="false" />
        <activity
            android:name=".Cuento4"
            android:exported="false" />
        <activity
            android:name=".Cuento3"
            android:exported="false" />
        <activity
            android:name=".Cuento2"
            android:exported="false" />
        <activity
            android:name=".Cuento1"
            android:exported="false" />
        <activity
            android:name=".Versiculos"
            android:exported="false" />
        <activity
            android:name=".Oraciones_infantiles"
            android:exported="false" />
        <activity
            android:name=".Cuentos_infantiles"
            android:exported="false" />
        <activity
            android:name=".Oracion_del_dia"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->

        </activity> <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1008936073037880~2998391099" />

    </application>

</manifest>